@font-face {
  font-family: "SF Mono Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SF Mono Regular"), url("../../assets/font/SFMonoRegular.woff") format("woff");
}

@font-face {
  font-family: "SF Mono Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF Mono Regular Italic"),
    url("../../assets/font/SFMonoRegularItalic.woff") format("woff");
}

@font-face {
  font-family: "SF Mono Light";
  font-style: normal;
  font-weight: normal;
  src: local("SF Mono Light"), url("../../assets/font/SFMonoLight.woff") format("woff");
}

@font-face {
  font-family: "SF Mono Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF Mono Light Italic"),
    url("../../assets/font/SFMonoLightItalic.woff") format("woff");
}

@font-face {
  font-family: "SF Mono Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF Mono Medium"), url("../../assets/font/SFMonoMedium.woff") format("woff");
}

@font-face {
  font-family: "SF Mono Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF Mono Medium Italic"),
    url("../../assets/font/SFMonoMediumItalic.woff") format("woff");
}

@font-face {
  font-family: "SF Mono Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("SF Mono Semibold"),
    url("../../assets/font/SFMonoSemibold.woff") format("woff");
}

@font-face {
  font-family: "SF Mono Semibold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF Mono Semibold Italic"),
    url("../../assets/font/SFMonoSemiboldItalic.woff") format("woff");
}

@font-face {
  font-family: "SF Mono Bold";
  font-style: normal;
  font-weight: normal;
  src: local("SF Mono Bold"), url("../../assets/font/SFMonoBold.woff") format("woff");
}

@font-face {
  font-family: "SF Mono Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF Mono Bold Italic"),
    url("../../assets/font/SFMonoBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "SF Mono Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("SF Mono Heavy"), url("../../assets/font/SFMonoHeavy.woff") format("woff");
}

@font-face {
  font-family: "SF Mono Heavy Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF Mono Heavy Italic"),
    url("../../assets/font/SFMonoHeavyItalic.woff") format("woff");
}